---
import BaseLayout from '../layouts/BaseLayout.astro';
import { fade } from 'astro:transitions';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid eligendi, iure laudantium sit et laboriosam eaque, eveniet eos alias, quisquam possimus dolor unde nesciunt officiis dolorem repellat. Fugit, eius in?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid eligendi, iure laudantium sit et laboriosam eaque, eveniet eos alias, quisquam possimus dolor unde nesciunt officiis dolorem repellat. Fugit, eius in?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid eligendi, iure laudantium sit et laboriosam eaque, eveniet eos alias, quisquam possimus dolor unde nesciunt officiis dolorem repellat. Fugit, eius in?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid eligendi, iure laudantium sit et laboriosam eaque, eveniet eos alias, quisquam possimus dolor unde nesciunt officiis dolorem repellat. Fugit, eius in?</p>
</BaseLayout>